  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Coluna Rounded', sans-serif;
    margin: 10px 0;
    color: #b20201;
    font-size : 2em
}

h3{
    font-family: 'Coluna Rounded', sans-serif;
    color: #b20201;
}

body {
    background-color: #111214;
}

p {
    font-family: "Lato", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

#container_history{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
}

#container_history div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.history_text{
    flex-direction: column;
    
}

.history_text h2, p{
    width: 600px;
}

#container_history div img{
    width: 400px;
    height: 500px;
}


.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container div {
  margin: 25px 0;
}

.flex-container div section {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  
}

.flex-container div section h3{
  font-size: 1.7em;
}

/* Carte Pizzas*/

#Professeur {
  background-image: url("src/Professeur.jpg");
  
}  

#Tokyo {
  background-image: url("src/Tokyo.jpg");
  
  }

#Lisbonne {
  background-image: url("src/Lisbonne.jpg");

  }

#Berlin {
  background-image: url("src/Berlin.jpg");

}

#Rio {
  background-image: url("src/Rio.jpg");
  
  }

#Nairobi {
  background-image: url("src/Nairobi.jpg");
  
  }

#Denver {
  background-image: url("src/Denver.jpg");
  
  }

#Moscou {
  background-image: url("src/Moscou.jpg");
  
  }

#Helsinki {
  background-image: url("src/Helsinki.jpg");
  
  }

#Stockholm {
  background-image: url("src/Stockholm.jpg");
  
  }

#Palerme{
  background-image: url("src/Palerme.jpg");
  
  }

#Bogota {
  background-image: url("src/Bogota.jpg");
  
  }

}

footer {
    background-color: #b20201;
    color: white;
    display: flex;
    justify-content: space-around;
}

#mentions-legales {
}

#logofooter {
    margin-top: 37px;
    margin-left: 48px;
}

@media screen and (max-width : 460px) {
  #container_history{
      flex-wrap: wrap;
  }
  .history_text h2, p{
      width: 310px;
  }
  #container_history div img{
      width: 310px;
      height: 350px;
      margin: 50px 0;
  }
  .main-container {
    flex-direction: column;
    
  }
  .flex-container {
    flex-direction: column;
    width: 460px;
  }

}