* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-color: #111214;
}

h1 {
  color: white;
  font-family: 'Coluna Rounded', sans-serif;
  font-size: 10em;
}

h2 {
  font-family: 'Coluna Rounded', sans-serif;
  margin: 40px 0;
  color: #b20201;
  font-size: 2em
}

h3 {
  font-family: 'Coluna Rounded', sans-serif;
  color: #b20201;
}

h4 {
  font-family: 'Coluna Rounded', sans-serif;
  color: #b20201;
  font-size: 2.5em;
}

p,
li {
  font-family: "Lato", sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

strong {
    background-color: #b20201;
    font-size: .8em;
    font-family: 'Coluna Rounded', sans-serif;
    position: relative;
    top: -13px;
    padding-top: 8px;
}

hr{
    width: 15%;
    color: white;
    margin: 1px;
}

#root {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.topnav {
  background-color: #b20202;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-family: 'Coluna Rounded', sans-serif;
  font-size: 25px;
  z-index: 999;
}

#topnav_menu {
  margin-right: 80px;

}

.topnav_link {
  color: white;
  padding: 12px 25px;
  text-decoration: none;
}

.topnav_link:hover {
  color: #111214;
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

#conteneur-image {
  height: 500px;
  background-image: url("src/pizza-image.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_white{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 25px;
}

.title_white h2{
  color: white;
  font-size: 5em;
  margin: 15px 20px 0 20px
}

hr{
  width: 15%;
  color: white;
  margin: 1px;
}

#container_history {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
}

#container_history div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history_text {
  flex-direction: column;

}

.history_text > h3{
  font-size: 2em;
  margin: 25px;
}

.text {
  width: 600px;
}

#container_history div img {
  width: 400px;
  height: 500px;
}


.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container > div {
  margin: 25px 0;
}

.flex-container div {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;

}

.flex-container div section h3 {
  font-size: 1.7em;
}

.legende {
  position: relative;
  bottom: 304px;
  width: 300px;
  /*background-color: rgba(139, 137, 137, 0.8);*/
  background-color: rgba(17, 18, 12, 0.75);
  visibility: hidden;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteneurs:hover .legende {
  visibility: visible;
}

.ingredients {
  font-size: 1em;
  font-family: "Lato", sans-serif;
  justify-content: center;
}

.listeingredients {
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
  padding-left: 10px;
}

/* Carte Pizzas*/
.photoPizza {
  width: 300px;
  height: 300px;
}

/* Roulette */

#selection-aleatoire {
  background-color: #b20202;
  padding: 10px 25px 10px 25px;
  }
  
  #professeur-pizza {
    font-family: 'Coluna Rounded', sans-serif;
    font-size: 50px;
  }
  
  #button-professeur {
    font-family: 'Coluna Rounded', sans-serif;
    height: 30px;
    font-size: 25px;
    margin-top: 50 px;
    margin-right: 14px;
  
  }
  
  #image-selection {
  
    height: 300px;
    width: 300px;
    
  }
  #container-professeur {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #conteneur-prenom {
    display: flex;
    flex-direction: column;
  }
  
  #prenom {
      height: 60px;
      width: 270px;
      margin-bottom: 64px;
      text-align: center;
      font-family: 'Coluna Rounded', sans-serif;
    font-size: 50px;
      color: white;
  }

#container_boissons {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 50px 0;
}

#container_boissons div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container_boissons ul {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
}

#mapForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin: 25px 0;
}

iframe {
  width: 600px;
  height: 400px;
}

#contactForm {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  width: 500px;
  padding-left: 20px;
}

input {
  font-family: "Lato", sans-serif;
  margin: 5px 0;
}

label {
  color: white;
  margin: 5px 0;
}

#button {
  width: 80px;
  color: black;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
  align-self: center;
}

textarea {
  height: 50px;
  font-family: "Lato", sans-serif;
  margin: 5px 0;
}

footer {
  background-color: #b20201;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
}

#logofooter {
  margin-top: 37px;
  margin-left: 48px;
}


@media only screen and (max-width: 768px) {

  /* hide classic menu */
  #topnav_menu {
    display: none;
  }

  /* show responsive menu and position at the right of the screen */
  #topnav_responsive_menu {
    display: block;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;

    position: absolute;
    margin: 0;
    right: 0;
    top: 0;

    min-width: 50vw;
    height: 100vh;
    padding: 56px 0 0;

    text-align: center;

    background: #b20202;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }

  #topnav_responsive_menu li {
    padding: 55px 24px;
  }

  #topnav_responsive_menu a {
    white-space: nowrap;
    color: #ededed;
    text-decoration: none;
  }

  /* And let's slide it in from the right */
  #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }

  /* ******************** HAMBURGER ICON ******************** */
  /* define size and position of the hamburger link */
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;
    background: #ededed;
    border-radius: 3px;
    z-index: 100;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }

  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: #111214;
  }

  /* the first span rotates 45° \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 110%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  /* the last span rotates -45° / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .topnav li{
    font-family: 'Coluna Rounded', sans-serif;
  }

  h1{
    font-size: 5em;
    width: 310px;
  }

  hr{
    display: none;
  }

  .title_white{
    width: 310px;
  }

  #container_history {
    flex-wrap: wrap;
  }

  .history_text h3,
  .text {
    width: 310px;
  }

  #container_history div img {
    width: 310px;
    height: 350px;
    margin: 50px 0;
  }

  .main-container {
    flex-direction: column;

  }

  .flex-container {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  #mapForm{
    justify-content: center;
  }

  #contactForm {
    width: 310px;
    margin: 25px 0;
    padding: 0;
  }

  iframe {
    width: 350px;
    height: 300px;
  }

  footer div {
    width: 310px;
  }

}